{% extends 'base.html.twig' %}

{% block body %}
    <section class="d-flex flex-column justify-content-center align-items-center vh-100">
        <div class="container">
            {{ include('common/messages.html.twig') }}
            <div class="row row-cols-4">
                {% for category in categories %}

                    <div class="col">
                        <a href="{{ path('category_read', {id: category.id}) }}">{{ category.name }}</a>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center mt-5">
                <a href="{{ path('feedback') }}">{{ 'feedback.title'|trans }}</a>
            </div>
        </div>
    </section>
{% endblock %}
